@import "base";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Raleway&display=swap');

$body-color: #fafafa;
$container-color: #fff;
$font-stack-heading: 'Raleway', sans-serif;
$font-stack-text: 'Open Sans', sans-serif;
$font-color: hsl(212, 20%, 13%);
$font-light-color: hsl(212, 20%, 68%);
$line-height: 1.5;
$temp-warning: #f6ae38;

/* Gradients */
$go-to-blue: #0470dc;
$cover-gradient: linear-gradient(135deg, #13f1fc 0%, $go-to-blue 100%);

/* Layout Breakpoints */
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

/* Button Presets */
$solid-btn-bg: #4591e7;
$solid-btn-bor: #9dc0e7;
$solid-btn-col: #fff;
$hollow-btn-bg: #fff;
$hollow-btn-bor: #ccd1dc;
$hollow-btn-col: #192938;
$card-btn-bg: #fff;
$card-btn-bor: #4591e7;
$card-btn-col: #4591e7;

@mixin button-maker($bg-color, $border-color, $color) {
  @extend .button;
  background-color: $bg-color;
  border-color: $border-color;
  color: $color;
}

body{
  margin: 0;
  color: $font-color;
  background-color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-heading;
}

a, li, p {
  font-family: $font-stack-text;
}

p {
  line-height: $line-height;
}

i {
  color: $font-light-color;
}

header {
  @include flex(row);
  width: 100%;
  height: auto;
}

footer {
  @include flex(column);
  width: 100%;
  padding: 32px 0;
  align-items: center;

  ul {
    @extend .list-inline;
    font-size: 28px;
    margin-bottom: 0;
  }
}

#temp-banner {
  @include flex(row);
  width: 100%;
  height: 30px;
  background-color: $temp-warning;
  justify-content: center;
  align-items: center;
}

.span {
  font-family: $font-stack-text;
}

.light-text {
  color: $font-light-color;
}

.body {
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  max-width: $xl-min;
  margin-left: auto;
  margin-right: auto;
  background-color: $container-color;
}

.list-inline {
  @include flex(row);
  padding: 0;

  li {
    list-style: none;
  }
}

.tech-list {
  @extend .list-inline;
  margin-top: 32px;

   li {
     margin-right: 12px;
     margin-bottom: 24px;

     span {
       border-radius: 4px;
       border: 2px solid;
       padding: 6px;
       text-align: center;
     }
   }
}

.button {
  @include box-shadow(0 2px 5px 1px $box-shadow);
  position: relative;
  text-decoration: none;
  text-align: center;
  border-radius: 48px;
  border: 1px solid;
  padding: 8px 56px 8px 56px;

  &:hover {
    @include box-shadow(inset 0 0 100px 100px rgba(255, 255, 255, 0.3));
    top: -1px;
    text-decoration: none;
  }

  &:active {
    @include box-shadow(inset 0 0 5px #c1c1c1);
    outline: none;
  }
}

.solid-button {
  @include button-maker($solid-btn-bg, $solid-btn-bor, $solid-btn-col);
}

.hollow-button {
  @include button-maker($hollow-btn-bg, $hollow-btn-bor, $hollow-btn-col);
}

.card-button {
  @include button-maker($card-btn-bg, $card-btn-bor, $card-btn-col);
  padding: 8px 32px 8px 32px;
}

.link {
  text-decoration: none;
  color: $go-to-blue;
  font-weight: bold;

  &:hover {
    border-bottom: 2px solid $go-to-blue;
  }
}

#profileImg {
  img{
    width: 128px;
    height: auto;
    border-radius: 50%;
  }
}

.cover {
  @include flex(column);
  width: 100%;
  height: 10em;
  justify-content: flex-end;
  background: $cover-gradient;
}

.curved-border {
  width: 100%;
  height: 148px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.card-container {
  @include flex(row);
  justify-content: space-evenly;

  & > * {
    margin-top: 32px;
  }
}
