@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Raleway&display=swap');

$body-color: #fafafa;
$container-color: #fff;
$font-stack-heading: 'Raleway', sans-serif;
$font-stack-text: 'Open Sans', sans-serif;
$font-color: hsl(212, 20%, 13%);
$cover-gradient: linear-gradient(135deg, #13f1fc 0%,#0470dc 100%);

$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

%row {
  display: flex;
}

%col {
  display: flex;
  flex-direction: column;
}

%list-inline {
  @extend %row;
  padding: 0;

  li {
    list-style: none;
  }
}

.list-inline {
  @extend %list-inline;
}

%button {
  text-decoration: none;
  text-align: center;
  border-radius: 48px;
  border: 1px solid;
  padding: 8px 64px 8px 64px;
  box-shadow: 0 2px 5px 1px #efefef;
}

.button {
  @extend %button;
}

body{
  margin: 0;
  color: $font-color;
  background-color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-heading;
}

a, li, p, span {
  font-family: $font-stack-text;
}

header {
  width: 100%;
  height: auto;
  display: flex;
}

footer {
  @extend %col;
  width: 100%;
  align-items: center;

  ul {
    @extend %list-inline;
  }
}

#temp-banner {
  width: 100%;
  height: 30px;
  background-color: #F6AE38;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  max-width: $xl-min;
  margin-left: auto;
  margin-right: auto;
  background-color: $container-color;
}

.row {
  @extend %row;
}

.col {
  @extend %col;
}

#profileImg {
  img{
    width: 128px;
    height: auto;
    border-radius: 50%;
  }
}

.cover {
  @extend %col;
  width: 100%;
  justify-content: flex-end;
  background: $cover-gradient;
}

.curved-border {
  width: 100%;
  height: 148px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}
